# Evaluación 1
Las datas frames elegidas corresponden a las siguientes páginas web: 
1. Population by country: 
2. Green House Emissions by country: 
3. Freshwater withdrawals by country:

In [203]:
#Links to databases in folder "data" in repository "Evalucion1"
population_Link="https://www.cia.gov/the-world-factbook/field/population/country-comparison/"
h2O_withdrawl_Link="https://github.com/SpatialDataScience23-2/Evaluacion1/raw/main/data/freshwater_withdrawals.csv"
pm2_5_Link="https://github.com/SpatialDataScience23-2/Evaluacion1/raw/main/data/pm2_5.csv"

import pandas as pd
population=pd.read_html(population_Link, header=0, flavor= 'bs4')
h2O_withdrawl=pd.read_csv(h2O_withdrawl_Link)
pm2_5=pd.read_csv(pm2_5_Link)

population_new=population[0]

     Rank                  Country  Unnamed: 2 Date of Information
0       1                    China  1413142846           2023 est.
1       2                    India  1399179585           2023 est.
2       3            United States   339665118           2023 est.
3       4                Indonesia   279476346           2023 est.
4       5                 Pakistan   247653551           2023 est.
..    ...                      ...         ...                 ...
232   233                  Tokelau        1647           2019 est.
233   234          Paracel Islands        1440      July 2014 est.
234   235  Holy See (Vatican City)        1000           2022 est.
235   236  Cocos (Keeling) Islands         596      July 2014 est.
236   237         Pitcairn Islands          50           2021 est.

[237 rows x 4 columns]

### df1: h2O_withdrawl
1. In this data base we have the information of the total annual freswater withdrawls by each country from 1975-2019
2. That's alot of data, so I decided to restrict it to just the variable values of year 2018
3. We recall the reduced data base with the name "h2O"

In [53]:
h2O_new=h2O_withdrawl.copy()
h2O_new.Year.value_counts()

Year
2018    195
2019    195
2017    195
2016    195
2015    195
2014    195
2013    181
2012    181
2011    177
2010    177
2009    176
2008    176
2007    173
2006    171
2005    167
2004    165
2003    164
2002    163
2001    160
2000    158
1999    148
1998    147
1997    146
1996    145
1995    143
1994    137
1993    131
1992    122
1991    110
1990    104
1989     91
1988     90
1987     89
1986     62
1985     61
1984     56
1983     55
1982     55
1981     54
1980     54
1976     35
1979     35
1978     35
1977     35
1975     34
1974     17
1970     16
1971     16
1972     16
1973     16
1965      2
1966      2
1967      2
1968      2
1969      2
1962      1
1963      1
1964      1
Name: count, dtype: int64

In [204]:
#we restrict the Year value to only 2018
h2O_new_1=h2O_new[h2O_new["Year"]==2018]
h2O_new_1.Year.value_counts()
#we eliminate the column "Year"
h2O=h2O_new_1.drop(columns="Year")
h2O

,Entity,Code,"Annual freshwater withdrawals, total (billion cubic meters)"
43,Afghanistan,AFG,2.028200e+10
73,Albania,ALB,9.580000e+08
123,Algeria,DZA,9.802000e+09
156,Angola,AGO,7.057000e+08
186,Antigua and Barbuda,ATG,4.400000e+06
...,...,...,...
5728,West Bank and Gaza,NaN,2.997000e+08
5734,World,OWID_WRL,3.955609e+12
5764,Yemen,YEM,3.565000e+09
5792,Zambia,ZMB,1.572000e+09
5825,Zimbabwe,ZWE,3.771380e+09

### df2: PM2.5
1. In this data base we have the information of the PM2.5 by each country
2. There are value for 2018 and 2019, so I decided to restrict it to just the variable values of year 2018
3. We recall the reduced data base with the name "pm25"

In [205]:
pm2_5.Year.value_counts()

Year
2018    239
2019    239
Name: count, dtype: int64

In [206]:
pm2_5_new=pm2_5.copy()
pm2_5_new_1=pm2_5_new[pm2_5_new["Year"]==2018]
pm2_5_new_1.YEA.value_counts()

YEA
2018    239
Name: count, dtype: int64

In [207]:
pm25=pm2_5_new_1.copy()
byeColumns=['Year','YEA']
pm25.drop(columns=byeColumns,inplace=True)
pm25

,COU,Country,SMALL_SUBNATIONAL_REGION,Small subnational region,LARGE_SUBNATIONAL_REGION,Large subnational region,VAR,Variable,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,7.730,E,Estimated value
2,AUT,Austria,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,12.720,E,Estimated value
4,BEL,Belgium,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,12.540,E,Estimated value
6,CAN,Canada,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,7.090,E,Estimated value
8,CZE,Czech Republic,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,17.560,E,Estimated value
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,OECD,OECD - Total,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,14.058,E,Estimated value
470,OECDE,OECD - Europe,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,14.818,E,Estimated value
472,EA19,Euro area (19 countries),NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,12.326,E,Estimated value
474,EU27_2020,European Union – 27 countries (from 01/02/2020),NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,13.605,E,Estimated value
476,MYT,Mayotte,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,8.880,E,Estimated value

### df3: population
1. In this data base we have the information of the total population by each country
2. There is data from year 2000 to 2023
3. I will restrict it to the population value for year 2018
4. The filtered df will have the name "pop"

In [209]:
population_new
population_new.columns

Index(['Rank', 'Country', 'Unnamed: 2', 'Date of Information'], dtype='object')

In [213]:
population_new.columns=population_new.columns.str.replace(' ','_')
population_new.rename(columns={'Unnamed:_2':'Population'},inplace=True)
population_new

     Rank                  Country  Population Date_of_Information
0       1                    China  1413142846           2023 est.
1       2                    India  1399179585           2023 est.
2       3            United States   339665118           2023 est.
3       4                Indonesia   279476346           2023 est.
4       5                 Pakistan   247653551           2023 est.
..    ...                      ...         ...                 ...
232   233                  Tokelau        1647           2019 est.
233   234          Paracel Islands        1440      July 2014 est.
234   235  Holy See (Vatican City)        1000           2022 est.
235   236  Cocos (Keeling) Islands         596      July 2014 est.
236   237         Pitcairn Islands          50           2021 est.

[237 rows x 4 columns]

In [215]:
h2O.shape, population_new.shape, pm25.shape

((195, 3), (237, 4), (239, 17))

In [219]:
pm25.columns

Index(['COU', 'Country', 'SMALL_SUBNATIONAL_REGION',
       'Small subnational region', 'LARGE_SUBNATIONAL_REGION',
       'Large subnational region', 'VAR', 'Variable', 'Unit Code', 'Unit',
       'PowerCode Code', 'PowerCode', 'Reference Period Code',
       'Reference Period', 'Value', 'Flag Codes', 'Flags'],
      dtype='object')

In [221]:
# We are gonna merge population and pm25

df1=population_new.merge(pm25, left_on='Country', right_on='Country')
df1

,Rank,Country,Population,Date_of_Information,COU,SMALL_SUBNATIONAL_REGION,Small subnational region,LARGE_SUBNATIONAL_REGION,Large subnational region,VAR,Variable,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,2,India,1399179585,2023 est.,IND,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,68.120,E,Estimated value
1,3,United States,339665118,2023 est.,USA,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,7.840,E,Estimated value
2,4,Indonesia,279476346,2023 est.,IDN,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,18.690,E,Estimated value
3,5,Pakistan,247653551,2023 est.,PAK,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,64.300,E,Estimated value
4,6,Nigeria,230842743,2023 est.,NGA,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,57.040,E,Estimated value
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,227,Saint Pierre and Miquelon,5195,2023 est.,SPM,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,8.920,E,Estimated value
196,231,Niue,2000,July 2022 est.,NIU,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,6.730,E,Estimated value
197,232,Norfolk Island,1748,2016 est.,NFK,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,6.118,NaN,NaN
198,233,Tokelau,1647,2019 est.,TKL,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,7.170,E,Estimated value
199,236,Cocos (Keeling) Islands,596,July 2014 est.,CCK,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,7.893,NaN,NaN

In [222]:
# We are gonna merge the previous merge and h2O
df2=df1.merge(h2O, left_on='Country', right_on='Entity')
df2

,Rank,Country,Population,Date_of_Information,COU,SMALL_SUBNATIONAL_REGION,Small subnational region,LARGE_SUBNATIONAL_REGION,Large subnational region,VAR,...,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags,Entity,Code,"Annual freshwater withdrawals, total (billion cubic meters)"
0,2,India,1399179585,2023 est.,IND,NaN,Not applicable,TOTAL,Total,PWM_EX,...,0,Units,NaN,NaN,68.12,E,Estimated value,India,IND,6.475000e+11
1,3,United States,339665118,2023 est.,USA,NaN,Not applicable,TOTAL,Total,PWM_EX,...,0,Units,NaN,NaN,7.84,E,Estimated value,United States,USA,4.443961e+11
2,4,Indonesia,279476346,2023 est.,IDN,NaN,Not applicable,TOTAL,Total,PWM_EX,...,0,Units,NaN,NaN,18.69,E,Estimated value,Indonesia,IDN,2.226350e+11
3,5,Pakistan,247653551,2023 est.,PAK,NaN,Not applicable,TOTAL,Total,PWM_EX,...,0,Units,NaN,NaN,64.30,E,Estimated value,Pakistan,PAK,1.927400e+11
4,6,Nigeria,230842743,2023 est.,NGA,NaN,Not applicable,TOTAL,Total,PWM_EX,...,0,Units,NaN,NaN,57.04,E,Estimated value,Nigeria,NGA,1.247200e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,195,Saint Vincent and the Grenadines,100804,2023 est.,VCT,NaN,Not applicable,TOTAL,Total,PWM_EX,...,0,Units,NaN,NaN,23.62,E,Estimated value,Saint Vincent and the Grenadines,VCT,7.900000e+06
158,197,Seychelles,97617,2023 est.,SYC,NaN,Not applicable,TOTAL,Total,PWM_EX,...,0,Units,NaN,NaN,8.98,E,Estimated value,Seychelles,SYC,1.129400e+07
159,201,Dominica,74656,2023 est.,DMA,NaN,Not applicable,TOTAL,Total,PWM_EX,...,0,Units,NaN,NaN,20.15,E,Estimated value,Dominica,DMA,2.000000e+07
160,207,Saint Kitts and Nevis,54817,2023 est.,KNA,NaN,Not applicable,TOTAL,Total,PWM_EX,...,0,Units,NaN,NaN,7.54,E,Estimated value,Saint Kitts and Nevis,KNA,1.220000e+07
161,216,Monaco,31597,2023 est.,MCO,NaN,Not applicable,TOTAL,Total,PWM_EX,...,0,Units,NaN,NaN,10.70,E,Estimated value,Monaco,MCO,5.000000e+06

In [227]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 23 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   Rank                                                         162 non-null    int64
 1   Country                                                      162 non-null    object
 2   Population                                                   162 non-null    int64
 3   Date_of_Information                                          162 non-null    object
 4   COU                                                          162 non-null    object
 5   SMALL_SUBNATIONAL_REGION                                     0 non-null      float64
 6   Small subnational region                                     162 non-null    object
 7   LARGE_SUBNATIONAL_REGION                                     162 non-null    object
 8   Large subnational region                                     162 non-null    object
 9   VAR                                                          162 non-null    object
 10  Variable                                                     162 non-null    object
 11  Unit Code                                                    162 non-null    object
 12  Unit                                                         162 non-null    object
 13  PowerCode Code                                               162 non-null    int64
 14  PowerCode                                                    162 non-null    object
 15  Reference Period Code                                        0 non-null      float64
 16  Reference Period                                             0 non-null      float64
 17  Value                                                        162 non-null    float64
 18  Flag Codes                                                   160 non-null    object
 19  Flags                                                        160 non-null    object
 20  Entity                                                       162 non-null    object
 21  Code                                                         162 non-null    object
 22  Annual freshwater withdrawals, total (billion cubic meters)  162 non-null    float64
dtypes: float64(5), int64(3), object(15)
memory usage: 29.2+ KB

We have lost several countries. Then we will try fuzzy merge

In [232]:
#pm25.columns

Index(['COU', 'Country', 'SMALL_SUBNATIONAL_REGION',
       'Small subnational region', 'LARGE_SUBNATIONAL_REGION',
       'Large subnational region', 'VAR', 'Variable', 'Unit Code', 'Unit',
       'PowerCode Code', 'PowerCode', 'Reference Period Code',
       'Reference Period', 'Value', 'Flag Codes', 'Flags'],
      dtype='object')

In [233]:
OnlyPopulation=set(population_new.Country)-set(pm25.Country)
OnlyPm25=set(pm25.Country)-set(population_new.Country)

from thefuzz import process as fz
[(f,fz.extractOne(f, OnlyPopulation)) for f in sorted(OnlyPm25)]

[('Bahamas', ('Bahamas, The', 90)),
 ('Brunei Darussalam', ('Brunei', 90)),
 ("China (People's Republic of)", ('China', 90)),
 ('Chinese Taipei', ('China', 72)),
 ('Christmas Islands', ('Christmas Island', 97)),
 ('Congo', ('Congo, Republic of the', 90)),
 ('Czech Republic', ('Congo, Republic of the', 86)),
 ("Côte d'Ivoire", ("Cote d'Ivoire", 96)),
 ("Democratic People's Republic of Korea", ('Korea, South', 86)),
 ('Democratic Republic of the Congo', ('Congo, Republic of the', 95)),
 ('Euro area (19 countries)', ('Korea, South', 55)),
 ('European Union (28 countries)', ('Korea, North', 47)),
 ('European Union – 27 countries (from 01/02/2020)', ('Korea, North', 45)),
 ('Faeroe Islands', ('Faroe Islands', 96)),
 ('Falkland Islands (Malvinas)', ('Falkland Islands (Islas Malvinas)', 95)),
 ('G20', ('Congo, Republic of the', 30)),
 ('G7', ('Gaza Strip', 45)),
 ('Gambia', ('Gambia, The', 90)),
 ('Holy See', ('Holy See (Vatican City)', 90)),
 ('Hong Kong, China', ('Hong Kong', 90)),
 ('Korea', ('Korea, South', 90)),
 ("Lao People's Democratic Republic",
  ('Congo, Democratic Republic of the', 71)),
 ('Macau, China', ('China', 90)),
 ('Mayotte', ('Sint Maarten', 51)),
 ('Micronesia', ('Micronesia, Federated States of', 90)),
 ('Myanmar', ('Saint Martin', 53)),
 ('Netherlands Antilles', ('Micronesia, Federated States of', 46)),
 ('OECD - Europe', ("Cote d'Ivoire", 46)),
 ('OECD - Total', ('Korea, South', 50)),
 ('Palestinian Authority or West Bank and Gaza Strip', ('West Bank', 90)),
 ('Pitcairn', ('Pitcairn Islands', 90)),
 ('Saint Helena', ('Saint Helena, Ascension, and Tristan da Cunha', 90)),
 ('Slovak Republic', ('Congo, Democratic Republic of the', 86)),
 ('South Sudan ', ('South Sudan', 100)),
 ('Syrian Arab Republic', ('Syria', 90)),
 ('Türkiye', ('Turkey (Turkiye)', 75)),
 ('United States Virgin Islands', ('Virgin Islands', 90)),
 ('Viet Nam', ('Vietnam', 93)),
 ('World', ('Micronesia, Federated States of', 36))]

In [234]:
[(f,fz.extractOne(f, OnlyPopulation)) for f in sorted(OnlyPm25)
 if fz.extractOne(f, OnlyPopulation)[1]>=87]

[('Bahamas', ('Bahamas, The', 90)),
 ('Brunei Darussalam', ('Brunei', 90)),
 ("China (People's Republic of)", ('China', 90)),
 ('Christmas Islands', ('Christmas Island', 97)),
 ('Congo', ('Congo, Republic of the', 90)),
 ("Côte d'Ivoire", ("Cote d'Ivoire", 96)),
 ('Democratic Republic of the Congo', ('Congo, Republic of the', 95)),
 ('Faeroe Islands', ('Faroe Islands', 96)),
 ('Falkland Islands (Malvinas)', ('Falkland Islands (Islas Malvinas)', 95)),
 ('Gambia', ('Gambia, The', 90)),
 ('Holy See', ('Holy See (Vatican City)', 90)),
 ('Hong Kong, China', ('Hong Kong', 90)),
 ('Korea', ('Korea, South', 90)),
 ('Macau, China', ('China', 90)),
 ('Micronesia', ('Micronesia, Federated States of', 90)),
 ('Palestinian Authority or West Bank and Gaza Strip', ('West Bank', 90)),
 ('Pitcairn', ('Pitcairn Islands', 90)),
 ('Saint Helena', ('Saint Helena, Ascension, and Tristan da Cunha', 90)),
 ('South Sudan ', ('South Sudan', 100)),
 ('Syrian Arab Republic', ('Syria', 90)),
 ('United States Virgin Islands', ('Virgin Islands', 90)),
 ('Viet Nam', ('Vietnam', 93))]

In [239]:
# We have to create a dictionary
changesPm25_1={f:fz.extractOne(f, OnlyPopulation)[0] 
                 for f in sorted(OnlyPm25)
                 if fz.extractOne(f, OnlyPopulation)[1] >=87}
#dict of matches
changesPm25_1

{'Bahamas': 'Bahamas, The',
 'Brunei Darussalam': 'Brunei',
 "China (People's Republic of)": 'China',
 'Christmas Islands': 'Christmas Island',
 'Congo': 'Congo, Republic of the',
 "Côte d'Ivoire": "Cote d'Ivoire",
 'Democratic Republic of the Congo': 'Congo, Republic of the',
 'Faeroe Islands': 'Faroe Islands',
 'Falkland Islands (Malvinas)': 'Falkland Islands (Islas Malvinas)',
 'Gambia': 'Gambia, The',
 'Holy See': 'Holy See (Vatican City)',
 'Hong Kong, China': 'Hong Kong',
 'Korea': 'Korea, South',
 'Macau, China': 'China',
 'Micronesia': 'Micronesia, Federated States of',
 'Palestinian Authority or West Bank and Gaza Strip': 'West Bank',
 'Pitcairn': 'Pitcairn Islands',
 'Saint Helena': 'Saint Helena, Ascension, and Tristan da Cunha',
 'South Sudan ': 'South Sudan',
 'Syrian Arab Republic': 'Syria',
 'United States Virgin Islands': 'Virgin Islands',
 'Viet Nam': 'Vietnam'}

In [241]:
pm25.Country.replace(to_replace=changesPm25_1,inplace=True)

,COU,Country,SMALL_SUBNATIONAL_REGION,Small subnational region,LARGE_SUBNATIONAL_REGION,Large subnational region,VAR,Variable,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,7.730,E,Estimated value
2,AUT,Austria,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,12.720,E,Estimated value
4,BEL,Belgium,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,12.540,E,Estimated value
6,CAN,Canada,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,7.090,E,Estimated value
8,CZE,Czech Republic,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,17.560,E,Estimated value
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,OECD,OECD - Total,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,14.058,E,Estimated value
470,OECDE,OECD - Europe,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,14.818,E,Estimated value
472,EA19,Euro area (19 countries),NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,12.326,E,Estimated value
474,EU27_2020,European Union – 27 countries (from 01/02/2020),NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,13.605,E,Estimated value
476,MYT,Mayotte,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,8.880,E,Estimated value

In [242]:
# second try
OnlyPopulation=set(population_new.Country)-set(pm25.Country)
OnlyPm25=set(pm25.Country)-set(population_new.Country)
[(f,fz.extractOne(f, OnlyPopulation)) for f in sorted(OnlyPm25)]

[('Chinese Taipei', ('Taiwan', 45)),
 ('Czech Republic', ('Congo, Democratic Republic of the', 86)),
 ("Democratic People's Republic of Korea", ('Korea, North', 86)),
 ('Euro area (19 countries)', ('Burma', 54)),
 ('European Union (28 countries)', ('Korea, North', 47)),
 ('European Union – 27 countries (from 01/02/2020)', ('Korea, North', 45)),
 ('G20', ('Gaza Strip', 30)),
 ('G7', ('Gaza Strip', 45)),
 ("Lao People's Democratic Republic",
  ('Congo, Democratic Republic of the', 71)),
 ('Mayotte', ('Sint Maarten', 51)),
 ('Myanmar', ('Saint Martin', 53)),
 ('Netherlands Antilles', ('Saint Martin', 45)),
 ('OECD - Europe', ('Turkey (Turkiye)', 43)),
 ('OECD - Total', ('Korea, North', 50)),
 ('Slovak Republic', ('Congo, Democratic Republic of the', 86)),
 ('Türkiye', ('Turkey (Turkiye)', 75)),
 ('World', ('Congo, Democratic Republic of the', 36))]

In [244]:
# second dict of changes 
# we select a different threshold
changesPm25_2={f:fz.extractOne(f, OnlyPopulation)[0] 
                 for f in sorted(OnlyPm25)
                 if 74<=fz.extractOne(f, OnlyPopulation)[1]}

#dict of matches
changesPm25_2

{'Czech Republic': 'Congo, Democratic Republic of the',
 "Democratic People's Republic of Korea": 'Korea, North',
 'Slovak Republic': 'Congo, Democratic Republic of the',
 'Türkiye': 'Turkey (Turkiye)'}

In [245]:
pm25.Country.replace(to_replace=changesPm25_2,inplace=True)

,COU,Country,SMALL_SUBNATIONAL_REGION,Small subnational region,LARGE_SUBNATIONAL_REGION,Large subnational region,VAR,Variable,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,7.730,E,Estimated value
2,AUT,Austria,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,12.720,E,Estimated value
4,BEL,Belgium,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,12.540,E,Estimated value
6,CAN,Canada,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,7.090,E,Estimated value
8,CZE,"Congo, Democratic Republic of the",NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,17.560,E,Estimated value
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,OECD,OECD - Total,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,14.058,E,Estimated value
470,OECDE,OECD - Europe,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,14.818,E,Estimated value
472,EA19,Euro area (19 countries),NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,12.326,E,Estimated value
474,EU27_2020,European Union – 27 countries (from 01/02/2020),NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,13.605,E,Estimated value
476,MYT,Mayotte,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,8.880,E,Estimated value

In [246]:
# third try
OnlyPopulation=set(population_new.Country)-set(pm25.Country)
OnlyPm25=set(pm25.Country)-set(population_new.Country)
[(f,fz.extractOne(f, OnlyPopulation)) for f in sorted(OnlyPm25)]

[('Chinese Taipei', ('Taiwan', 45)),
 ('Euro area (19 countries)', ('Burma', 54)),
 ('European Union (28 countries)', ('Sint Maarten', 43)),
 ('European Union – 27 countries (from 01/02/2020)', ('Curacao', 39)),
 ('G20', ('Gaza Strip', 30)),
 ('G7', ('Gaza Strip', 45)),
 ("Lao People's Democratic Republic", ('Laos', 68)),
 ('Mayotte', ('Sint Maarten', 51)),
 ('Myanmar', ('Saint Martin', 53)),
 ('Netherlands Antilles', ('Saint Martin', 45)),
 ('OECD - Europe', ('Curacao', 41)),
 ('OECD - Total', ('Czechia', 32)),
 ('World', ('Paracel Islands', 36))]

In [247]:
# third dich of changes
# new threshold
changesPm25_3={f:fz.extractOne(f, OnlyPopulation)[0] 
                 for f in sorted(OnlyPm25)
                 if 54==fz.extractOne(f, OnlyPopulation)[1]}
# dict of matches
changesPm25_3

{'Euro area (19 countries)': 'Burma'}

In [251]:
pm25.Country.replace(to_replace=changesPm25_3,inplace=True)
pm25

,COU,Country,SMALL_SUBNATIONAL_REGION,Small subnational region,LARGE_SUBNATIONAL_REGION,Large subnational region,VAR,Variable,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,7.730,E,Estimated value
2,AUT,Austria,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,12.720,E,Estimated value
4,BEL,Belgium,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,12.540,E,Estimated value
6,CAN,Canada,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,7.090,E,Estimated value
8,CZE,"Congo, Democratic Republic of the",NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,17.560,E,Estimated value
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,OECD,OECD - Total,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,14.058,E,Estimated value
470,OECDE,OECD - Europe,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,14.818,E,Estimated value
472,EA19,Burma,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,12.326,E,Estimated value
474,EU27_2020,European Union – 27 countries (from 01/02/2020),NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,13.605,E,Estimated value
476,MYT,Mayotte,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,8.880,E,Estimated value

In [252]:
OnlyPopulation=set(population_new.Country)-set(pm25.Country)
OnlyPm25=set(pm25.Country)-set(population_new.Country)
[(f,fz.extractOne(f, OnlyPopulation)) for f in sorted(OnlyPm25)]

[('Chinese Taipei', ('Taiwan', 45)),
 ('European Union (28 countries)', ('Sint Maarten', 43)),
 ('European Union – 27 countries (from 01/02/2020)', ('Curacao', 39)),
 ('G20', ('Gaza Strip', 30)),
 ('G7', ('Gaza Strip', 45)),
 ("Lao People's Democratic Republic", ('Laos', 68)),
 ('Mayotte', ('Sint Maarten', 51)),
 ('Myanmar', ('Saint Martin', 53)),
 ('Netherlands Antilles', ('Saint Martin', 45)),
 ('OECD - Europe', ('Curacao', 41)),
 ('OECD - Total', ('Czechia', 32)),
 ('World', ('Paracel Islands', 36))]

The fourth attempt did not offer good results. So we are ready

In [253]:
df1=pm25.merge(population_new)
df1

,COU,Country,SMALL_SUBNATIONAL_REGION,Small subnational region,LARGE_SUBNATIONAL_REGION,Large subnational region,VAR,Variable,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags,Rank,Population,Date_of_Information
0,AUS,Australia,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,7.730,E,Estimated value,54,26461166,2023 est.
1,AUT,Austria,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,12.720,E,Estimated value,99,8940860,2023 est.
2,BEL,Belgium,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,12.540,E,Estimated value,82,11913633,2023 est.
3,CAN,Canada,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,7.090,E,Estimated value,38,38516736,2023 est.
4,CZE,"Congo, Democratic Republic of the",NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,17.560,E,Estimated value,14,111859928,2023 est.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,GGY,Guernsey,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,10.980,E,Estimated value,203,67642,2023 est.
223,IMN,Isle of Man,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,9.030,E,Estimated value,198,91840,2023 est.
224,JEY,Jersey,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,11.130,E,Estimated value,193,102785,2023 est.
225,SSD,South Sudan,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,38.849,NaN,NaN,80,12118379,2023 est.
226,EA19,Burma,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,12.326,E,Estimated value,26,57970293,2023 est.

In [255]:
# Now we do fuzzy merge for the merged df "df1" and the data frame of h2O
OnlyDf1=set(df1.Country)-set(h2O.Entity)
OnlyH2O=set(h2O.Entity)-set(df1.Country)

[(f,fz.extractOne(f, OnlyH2O)) for f in sorted(OnlyDf1)]

[('American Samoa', ('Latin America and Caribbean (WB)', 64)),
 ('Andorra', ('Middle East and North Africa (WB)', 64)),
 ('Anguilla', ('Laos', 45)),
 ('Aruba', ('Gambia', 55)),
 ('Bahamas, The', ('Gambia', 45)),
 ('Bermuda', ('Lower-middle-income countries', 51)),
 ('British Virgin Islands', ('Laos', 45)),
 ('Burma', ('South Korea', 38)),
 ('Cabo Verde', ('Cape Verde', 80)),
 ('Cayman Islands', ('Gambia', 45)),
 ('Christmas Island', ('Laos', 45)),
 ('Cocos (Keeling) Islands', ('Congo', 54)),
 ('Congo, Democratic Republic of the', ('Democratic Republic of Congo', 95)),
 ('Congo, Republic of the', ('Congo', 90)),
 ('Cook Islands', ('Congo', 54)),
 ('Falkland Islands (Islas Malvinas)', ('Gambia', 45)),
 ('Faroe Islands', ('Europe and Central Asia (WB)', 49)),
 ('French Polynesia', ('North Korea', 44)),
 ('Gambia, The', ('Gambia', 90)),
 ('Gibraltar', ('Latin America and Caribbean (WB)', 48)),
 ('Greenland', ('Europe and Central Asia (WB)', 50)),
 ('Guam', ('Gambia', 68)),
 ('Guernsey', ('Turkey', 57)),
 ('Holy See (Vatican City)', ('Gambia', 45)),
 ('Hong Kong', ('Congo', 57)),
 ('Isle of Man', ('Democratic Republic of Congo', 86)),
 ('Jersey', ('Turkey', 50)),
 ('Kiribati', ('Latin America and Caribbean (WB)', 45)),
 ('Korea, North', ('North Korea', 95)),
 ('Korea, South', ('South Korea', 95)),
 ('Liechtenstein', ('Low-income countries', 42)),
 ('Marshall Islands', ('Myanmar', 49)),
 ('Micronesia, Federated States of', ('Congo', 54)),
 ('Montserrat', ('Laos', 45)),
 ('Nauru', ('Sub-Saharan Africa (WB)', 54)),
 ('New Caledonia', ('North America (WB)', 46)),
 ('Niue', ('High-income countries', 45)),
 ('Norfolk Island', ('Laos', 45)),
 ('Northern Mariana Islands', ('North Korea', 62)),
 ('Palau', ('Europe and Central Asia (WB)', 54)),
 ('Pitcairn Islands', ('Laos', 45)),
 ('Saint Helena, Ascension, and Tristan da Cunha', ('West Bank and Gaza', 86)),
 ('Saint Pierre and Miquelon', ('North Korea', 50)),
 ('Samoa', ('Gambia', 55)),
 ('San Marino', ('Myanmar', 59)),
 ('Solomon Islands', ('Laos', 45)),
 ('Timor-Leste', ('East Timor', 82)),
 ('Tokelau', ('Laos', 51)),
 ('Tonga', ('Congo', 60)),
 ('Turkey (Turkiye)', ('Turkey', 90)),
 ('Turks and Caicos Islands', ('Turkey', 62)),
 ('Tuvalu', ('Europe and Central Asia (WB)', 45)),
 ('Vanuatu', ('Latin America and Caribbean (WB)', 49)),
 ('Virgin Islands', ('Laos', 45)),
 ('Wallis and Futuna', ('Middle East and North Africa (WB)', 86)),
 ('West Bank', ('West Bank and Gaza', 90))]

We prepare the changes:

In [256]:
# first change
changesDf1_1={f:fz.extractOne(f, OnlyH2O)[0] 
                 for f in sorted(OnlyDf1)
                 if fz.extractOne(f, OnlyH2O)[1] >=87}
# dict of matches
changesDf1_1

{'Congo, Democratic Republic of the': 'Democratic Republic of Congo',
 'Congo, Republic of the': 'Congo',
 'Gambia, The': 'Gambia',
 'Korea, North': 'North Korea',
 'Korea, South': 'South Korea',
 'Turkey (Turkiye)': 'Turkey',
 'West Bank': 'West Bank and Gaza'}

In [260]:
# make changes
df1.Country.replace(to_replace=changesDf1_1,inplace=True)

We do the second iteration

In [258]:
OnlyDf1=set(df1.Country)-set(h2O.Entity)
OnlyH2O=set(h2O.Entity)-set(df1.Country)

[(f,fz.extractOne(f, OnlyH2O)) for f in sorted(OnlyDf1)]

[('American Samoa', ('Latin America and Caribbean (WB)', 64)),
 ('Andorra', ('Middle East and North Africa (WB)', 64)),
 ('Anguilla', ('Laos', 45)),
 ('Aruba', ('Sub-Saharan Africa (WB)', 54)),
 ('Bahamas, The', ('Laos', 45)),
 ('Bermuda', ('Lower-middle-income countries', 51)),
 ('British Virgin Islands', ('Laos', 45)),
 ('Burma', ('North America (WB)', 36)),
 ('Cabo Verde', ('Cape Verde', 80)),
 ('Cayman Islands', ('Laos', 45)),
 ('Christmas Island', ('Laos', 45)),
 ('Cocos (Keeling) Islands', ('Laos', 45)),
 ('Cook Islands', ('Laos', 45)),
 ('Falkland Islands (Islas Malvinas)', ('Laos', 45)),
 ('Faroe Islands', ('Europe and Central Asia (WB)', 49)),
 ('French Polynesia', ('Czechia', 43)),
 ('Gibraltar', ('Latin America and Caribbean (WB)', 48)),
 ('Greenland', ('Europe and Central Asia (WB)', 50)),
 ('Guam', ('North America (WB)', 45)),
 ('Guernsey', ('High-income countries', 34)),
 ('Holy See (Vatican City)', ('Laos', 45)),
 ('Hong Kong', ('High-income countries', 40)),
 ('Isle of Man', ('Middle-income countries', 50)),
 ('Jersey', ('Cape Verde', 45)),
 ('Kiribati', ('Latin America and Caribbean (WB)', 45)),
 ('Liechtenstein', ('Low-income countries', 42)),
 ('Marshall Islands', ('Myanmar', 49)),
 ('Micronesia, Federated States of', ('Cape Verde', 45)),
 ('Montserrat', ('Laos', 45)),
 ('Nauru', ('Sub-Saharan Africa (WB)', 54)),
 ('New Caledonia', ('North America (WB)', 46)),
 ('Niue', ('High-income countries', 45)),
 ('Norfolk Island', ('Laos', 45)),
 ('Northern Mariana Islands', ('North America (WB)', 54)),
 ('Palau', ('Europe and Central Asia (WB)', 54)),
 ('Pitcairn Islands', ('Laos', 45)),
 ('Saint Helena, Ascension, and Tristan da Cunha',
  ('East Asia and Pacific (WB)', 86)),
 ('Saint Pierre and Miquelon', ('Latin America and Caribbean (WB)', 50)),
 ('Samoa', ('Sub-Saharan Africa (WB)', 54)),
 ('San Marino', ('Myanmar', 59)),
 ('Solomon Islands', ('Laos', 45)),
 ('Timor-Leste', ('East Timor', 82)),
 ('Tokelau', ('Laos', 51)),
 ('Tonga', ('Latin America and Caribbean (WB)', 54)),
 ('Turks and Caicos Islands', ('Europe and Central Asia (WB)', 47)),
 ('Tuvalu', ('Europe and Central Asia (WB)', 45)),
 ('Vanuatu', ('Latin America and Caribbean (WB)', 49)),
 ('Virgin Islands', ('Laos', 45)),
 ('Wallis and Futuna', ('Middle East and North Africa (WB)', 86))]

In [261]:
# second dict of changes 
# we select a different threshold
changesDf1_2={f:fz.extractOne(f, OnlyH2O)[0] 
                 for f in sorted(OnlyDf1)
                 if 74<=fz.extractOne(f, OnlyH2O)[1]}

#dict of matches
changesPm25_2

{'Czech Republic': 'Congo, Democratic Republic of the',
 "Democratic People's Republic of Korea": 'Korea, North',
 'Slovak Republic': 'Congo, Democratic Republic of the',
 'Türkiye': 'Turkey (Turkiye)'}

In [262]:
df1.Country.replace(to_replace=changesPm25_2,inplace=True)

In [263]:
# third change
OnlyDf1=set(df1.Country)-set(h2O.Entity)
OnlyH2O=set(h2O.Entity)-set(df1.Country)

[(f,fz.extractOne(f, OnlyH2O)) for f in sorted(OnlyDf1)]

[('American Samoa', ('Latin America and Caribbean (WB)', 64)),
 ('Andorra', ('Middle East and North Africa (WB)', 64)),
 ('Anguilla', ('Laos', 45)),
 ('Aruba', ('Sub-Saharan Africa (WB)', 54)),
 ('Bahamas, The', ('Laos', 45)),
 ('Bermuda', ('Lower-middle-income countries', 51)),
 ('British Virgin Islands', ('Laos', 45)),
 ('Burma', ('North America (WB)', 36)),
 ('Cabo Verde', ('Cape Verde', 80)),
 ('Cayman Islands', ('Laos', 45)),
 ('Christmas Island', ('Laos', 45)),
 ('Cocos (Keeling) Islands', ('Laos', 45)),
 ('Cook Islands', ('Laos', 45)),
 ('Falkland Islands (Islas Malvinas)', ('Laos', 45)),
 ('Faroe Islands', ('Europe and Central Asia (WB)', 49)),
 ('French Polynesia', ('Czechia', 43)),
 ('Gibraltar', ('Latin America and Caribbean (WB)', 48)),
 ('Greenland', ('Europe and Central Asia (WB)', 50)),
 ('Guam', ('North America (WB)', 45)),
 ('Guernsey', ('High-income countries', 34)),
 ('Holy See (Vatican City)', ('Laos', 45)),
 ('Hong Kong', ('High-income countries', 40)),
 ('Isle of Man', ('Middle-income countries', 50)),
 ('Jersey', ('Cape Verde', 45)),
 ('Kiribati', ('Latin America and Caribbean (WB)', 45)),
 ('Liechtenstein', ('Low-income countries', 42)),
 ('Marshall Islands', ('Myanmar', 49)),
 ('Micronesia, Federated States of', ('Cape Verde', 45)),
 ('Montserrat', ('Laos', 45)),
 ('Nauru', ('Sub-Saharan Africa (WB)', 54)),
 ('New Caledonia', ('North America (WB)', 46)),
 ('Niue', ('High-income countries', 45)),
 ('Norfolk Island', ('Laos', 45)),
 ('Northern Mariana Islands', ('North America (WB)', 54)),
 ('Palau', ('Europe and Central Asia (WB)', 54)),
 ('Pitcairn Islands', ('Laos', 45)),
 ('Saint Helena, Ascension, and Tristan da Cunha',
  ('East Asia and Pacific (WB)', 86)),
 ('Saint Pierre and Miquelon', ('Latin America and Caribbean (WB)', 50)),
 ('Samoa', ('Sub-Saharan Africa (WB)', 54)),
 ('San Marino', ('Myanmar', 59)),
 ('Solomon Islands', ('Laos', 45)),
 ('Timor-Leste', ('East Timor', 82)),
 ('Tokelau', ('Laos', 51)),
 ('Tonga', ('Latin America and Caribbean (WB)', 54)),
 ('Turks and Caicos Islands', ('Europe and Central Asia (WB)', 47)),
 ('Tuvalu', ('Europe and Central Asia (WB)', 45)),
 ('Vanuatu', ('Latin America and Caribbean (WB)', 49)),
 ('Virgin Islands', ('Laos', 45)),
 ('Wallis and Futuna', ('Middle East and North Africa (WB)', 86))]

In [265]:
# third dict of changes 
# we select a different threshold
changesDf1_3={f:fz.extractOne(f, OnlyH2O)[0] 
                 for f in sorted(OnlyDf1)
                 if 54==fz.extractOne(f, OnlyH2O)[1]}

#dict of matches
changesPm25_3

{'Euro area (19 countries)': 'Burma'}

In [266]:
df2=df1.merge(h2O, left_on='Country', right_on= 'Entity', how='inner')
df2

,COU,Country,SMALL_SUBNATIONAL_REGION,Small subnational region,LARGE_SUBNATIONAL_REGION,Large subnational region,VAR,Variable,Unit Code,Unit,...,Reference Period,Value,Flag Codes,Flags,Rank,Population,Date_of_Information,Entity,Code,"Annual freshwater withdrawals, total (billion cubic meters)"
0,AUS,Australia,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,...,NaN,7.730,E,Estimated value,54,26461166,2023 est.,Australia,AUS,1.242540e+10
1,AUT,Austria,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,...,NaN,12.720,E,Estimated value,99,8940860,2023 est.,Austria,AUT,3.490000e+09
2,BEL,Belgium,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,...,NaN,12.540,E,Estimated value,82,11913633,2023 est.,Belgium,BEL,4.400945e+09
3,CAN,Canada,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,...,NaN,7.090,E,Estimated value,38,38516736,2023 est.,Canada,CAN,3.625300e+10
4,CZE,Democratic Republic of Congo,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,...,NaN,17.560,E,Estimated value,14,111859928,2023 est.,Democratic Republic of Congo,COD,6.836000e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,ZMB,Zambia,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,...,NaN,23.360,E,Estimated value,63,20216029,2023 est.,Zambia,ZMB,1.572000e+09
174,ZWE,Zimbabwe,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,...,NaN,19.160,E,Estimated value,73,15418674,2023 est.,Zimbabwe,ZWE,3.771380e+09
175,SRB,Serbia,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,...,NaN,26.073,NaN,NaN,108,6693375,2023 est.,Serbia,SRB,5.557500e+09
176,MNE,Montenegro,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,...,NaN,23.260,E,Estimated value,172,602445,2023 est.,Montenegro,MNE,1.609000e+08
177,SSD,South Sudan,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,...,NaN,38.849,NaN,NaN,80,12118379,2023 est.,South Sudan,SSD,6.580000e+08

In [267]:
import os
country_isos=pd.read_excel(os.path.join("data","country_isos.xlsx"))
country_isos

,Country,Officialstatename,InternetccTLD,iso2,iso3
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG
1,ALBANIA,The Republic of Albania,.al,AL,ALB
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA
3,ANGOLA,The Republic of Angola,.ao,AO,AGO
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG
...,...,...,...,...,...
166,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB
167,VIET NAM,The Socialist Republic of Viet Nam,.vn,VN,VNM
168,YEMEN,The Republic of Yemen,.ye,YE,YEM
169,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB
170,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE

In [269]:
df2.Country=df2.Country.str.upper()
country_isos.merge(df2, left_on='Country',right_on='Country')

,Country,Officialstatename,InternetccTLD,iso2,iso3,COU,SMALL_SUBNATIONAL_REGION,Small subnational region,LARGE_SUBNATIONAL_REGION,Large subnational region,...,Reference Period,Value,Flag Codes,Flags,Rank,Population,Date_of_Information,Entity,Code,"Annual freshwater withdrawals, total (billion cubic meters)"
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG,AFG,NaN,Not applicable,TOTAL,Total,...,NaN,68.27,E,Estimated value,37,39232003,2023 est.,Afghanistan,AFG,2.028200e+10
1,ALBANIA,The Republic of Albania,.al,AL,ALB,ALB,NaN,Not applicable,TOTAL,Total,...,NaN,18.90,E,Estimated value,137,3101621,2023 est.,Albania,ALB,9.580000e+08
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA,DZA,NaN,Not applicable,TOTAL,Total,...,NaN,24.93,E,Estimated value,34,44758398,2023 est.,Algeria,DZA,9.802000e+09
3,ANGOLA,The Republic of Angola,.ao,AO,AGO,AGO,NaN,Not applicable,TOTAL,Total,...,NaN,24.20,E,Estimated value,41,35981281,2023 est.,Angola,AGO,7.057000e+08
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG,ATG,NaN,Not applicable,TOTAL,Total,...,NaN,18.99,E,Estimated value,194,101489,2023 est.,Antigua and Barbuda,ATG,4.400000e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,URUGUAY,The Oriental Republic of Uruguay,.uy,UY,URY,URY,NaN,Not applicable,TOTAL,Total,...,NaN,10.16,E,Estimated value,132,3416264,2023 est.,Uruguay,URY,3.660000e+09
136,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB,UZB,NaN,Not applicable,TOTAL,Total,...,NaN,36.29,E,Estimated value,48,31360836,2023 est.,Uzbekistan,UZB,5.890400e+10
137,YEMEN,The Republic of Yemen,.ye,YE,YEM,YEM,NaN,Not applicable,TOTAL,Total,...,NaN,44.03,E,Estimated value,47,31565602,2023 est.,Yemen,YEM,3.565000e+09
138,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB,ZMB,NaN,Not applicable,TOTAL,Total,...,NaN,23.36,E,Estimated value,63,20216029,2023 est.,Zambia,ZMB,1.572000e+09
139,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE,ZWE,NaN,Not applicable,TOTAL,Total,...,NaN,19.16,E,Estimated value,73,15418674,2023 est.,Zimbabwe,ZWE,3.771380e+09

In [271]:
# We have lost several countries, then we do the fuzzy merge
OnlyDf2=set(df2.Country)-set(country_isos.Country)
OnlyISOS=set(country_isos.Country)-set(df2.Country)

In [272]:
from thefuzz import process as fz
[(f,fz.extractOne(f, OnlyISOS)) for f in sorted(OnlyDf2)]

[('BOLIVIA', ('BOLIVIA (PLURINATIONAL STATE OF)', 90)),
 ('BRUNEI', ('BRUNEI DARUSSALAM', 90)),
 ('CENTRAL AFRICAN REPUBLIC', ('CENTRAL AFRICAN REPUBLIC (THE)', 95)),
 ('COMOROS', ('COMOROS (THE)', 90)),
 ('CONGO', ('CONGO (THE)', 90)),
 ("COTE D'IVOIRE", ("C√îTE D'IVOIRE", 92)),
 ('DEMOCRATIC REPUBLIC OF CONGO',
  ('CONGO (THE DEMOCRATIC REPUBLIC OF THE)', 95)),
 ('DOMINICA', ('DOMINICAN REPUBLIC (THE)', 90)),
 ('DOMINICAN REPUBLIC', ('DOMINICAN REPUBLIC (THE)', 95)),
 ('ERITREA', ('UNITED ARAB EMIRATES (THE)', 51)),
 ('GAMBIA', ('GAMBIA (THE)', 90)),
 ('IRAN', ('IRAN (ISLAMIC REPUBLIC OF)', 90)),
 ('ISRAEL', ('UNITED ARAB EMIRATES (THE)', 57)),
 ('MOLDOVA', ('MOLDOVA (THE REPUBLIC OF)', 90)),
 ('MONACO', ('SAMOA', 55)),
 ('NETHERLANDS', ('NETHERLANDS (THE)', 95)),
 ('NIGER', ('NIGER (THE)', 90)),
 ('NORTH KOREA', ('KOREA (THE REPUBLIC OF)', 86)),
 ('PHILIPPINES', ('PHILIPPINES (THE)', 95)),
 ('PUERTO RICO', ('BOLIVIA (PLURINATIONAL STATE OF)', 50)),
 ('RUSSIA', ('RUSSIAN FEDERATION (THE)', 90)),
 ('SAINT KITTS AND NEVIS',
  ('UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND (THE)', 86)),
 ('SAINT LUCIA', ('BOLIVIA (PLURINATIONAL STATE OF)', 50)),
 ('SAINT VINCENT AND THE GRENADINES', ('BAHAMAS (THE)', 86)),
 ('SOMALIA', ('SLOVAKIA', 67)),
 ('SOUTH AFRICA', ('CENTRAL AFRICAN REPUBLIC (THE)', 60)),
 ('SOUTH KOREA', ('KOREA (THE REPUBLIC OF)', 86)),
 ('SUDAN', ('SUDAN (THE)', 90)),
 ('SYRIA', ('BOLIVIA (PLURINATIONAL STATE OF)', 54)),
 ('TANZANIA', ('TANZANIA, THE UNITED REPUBLIC OF', 90)),
 ('UNITED ARAB EMIRATES', ('UNITED ARAB EMIRATES (THE)', 95)),
 ('UNITED KINGDOM',
  ('UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND (THE)', 90)),
 ('UNITED STATES', ('UNITED STATES MINOR OUTLYING ISLANDS (THE)', 90)),
 ('VENEZUELA', ('NETHERLANDS (THE)', 50)),
 ('VIETNAM', ('VIET NAM', 93)),
 ('WEST BANK AND GAZA',
  ('UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND (THE)', 86))]

In [275]:
changesDf2_1={f:fz.extractOne(f, OnlyISOS)[0] 
                 for f in sorted(OnlyDf2)
                 if fz.extractOne(f, OnlyISOS)[1] >=87}
#dict of matches
changesDf2_1

{'BOLIVIA': 'BOLIVIA (PLURINATIONAL STATE OF)',
 'BRUNEI': 'BRUNEI DARUSSALAM',
 'CENTRAL AFRICAN REPUBLIC': 'CENTRAL AFRICAN REPUBLIC (THE)',
 'COMOROS': 'COMOROS (THE)',
 'CONGO': 'CONGO (THE)',
 "COTE D'IVOIRE": "C√îTE D'IVOIRE",
 'DEMOCRATIC REPUBLIC OF CONGO': 'CONGO (THE DEMOCRATIC REPUBLIC OF THE)',
 'DOMINICA': 'DOMINICAN REPUBLIC (THE)',
 'DOMINICAN REPUBLIC': 'DOMINICAN REPUBLIC (THE)',
 'GAMBIA': 'GAMBIA (THE)',
 'IRAN': 'IRAN (ISLAMIC REPUBLIC OF)',
 'MOLDOVA': 'MOLDOVA (THE REPUBLIC OF)',
 'NETHERLANDS': 'NETHERLANDS (THE)',
 'NIGER': 'NIGER (THE)',
 'PHILIPPINES': 'PHILIPPINES (THE)',
 'RUSSIA': 'RUSSIAN FEDERATION (THE)',
 'SUDAN': 'SUDAN (THE)',
 'TANZANIA': 'TANZANIA, THE UNITED REPUBLIC OF',
 'UNITED ARAB EMIRATES': 'UNITED ARAB EMIRATES (THE)',
 'UNITED KINGDOM': 'UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND (THE)',
 'UNITED STATES': 'UNITED STATES MINOR OUTLYING ISLANDS (THE)',
 'VIETNAM': 'VIET NAM'}

In [278]:
df2.Country.replace(to_replace=changesDf2_1, inplace=True)
df2

,COU,Country,SMALL_SUBNATIONAL_REGION,Small subnational region,LARGE_SUBNATIONAL_REGION,Large subnational region,VAR,Variable,Unit Code,Unit,...,Reference Period,Value,Flag Codes,Flags,Rank,Population,Date_of_Information,Entity,Code,"Annual freshwater withdrawals, total (billion cubic meters)"
0,AUS,AUSTRALIA,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,...,NaN,7.730,E,Estimated value,54,26461166,2023 est.,Australia,AUS,1.242540e+10
1,AUT,AUSTRIA,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,...,NaN,12.720,E,Estimated value,99,8940860,2023 est.,Austria,AUT,3.490000e+09
2,BEL,BELGIUM,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,...,NaN,12.540,E,Estimated value,82,11913633,2023 est.,Belgium,BEL,4.400945e+09
3,CAN,CANADA,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,...,NaN,7.090,E,Estimated value,38,38516736,2023 est.,Canada,CAN,3.625300e+10
4,CZE,CONGO (THE DEMOCRATIC REPUBLIC OF THE),NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,...,NaN,17.560,E,Estimated value,14,111859928,2023 est.,Democratic Republic of Congo,COD,6.836000e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,ZMB,ZAMBIA,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,...,NaN,23.360,E,Estimated value,63,20216029,2023 est.,Zambia,ZMB,1.572000e+09
174,ZWE,ZIMBABWE,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,...,NaN,19.160,E,Estimated value,73,15418674,2023 est.,Zimbabwe,ZWE,3.771380e+09
175,SRB,SERBIA,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,...,NaN,26.073,NaN,NaN,108,6693375,2023 est.,Serbia,SRB,5.557500e+09
176,MNE,MONTENEGRO,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,...,NaN,23.260,E,Estimated value,172,602445,2023 est.,Montenegro,MNE,1.609000e+08
177,SSD,SOUTH SUDAN,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,...,NaN,38.849,NaN,NaN,80,12118379,2023 est.,South Sudan,SSD,6.580000e+08

In [280]:
final_df=country_isos.merge(df2, left_on='Country', right_on='Country')
final_df

,Country,Officialstatename,InternetccTLD,iso2,iso3,COU,SMALL_SUBNATIONAL_REGION,Small subnational region,LARGE_SUBNATIONAL_REGION,Large subnational region,...,Reference Period,Value,Flag Codes,Flags,Rank,Population,Date_of_Information,Entity,Code,"Annual freshwater withdrawals, total (billion cubic meters)"
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG,AFG,NaN,Not applicable,TOTAL,Total,...,NaN,68.27,E,Estimated value,37,39232003,2023 est.,Afghanistan,AFG,2.028200e+10
1,ALBANIA,The Republic of Albania,.al,AL,ALB,ALB,NaN,Not applicable,TOTAL,Total,...,NaN,18.90,E,Estimated value,137,3101621,2023 est.,Albania,ALB,9.580000e+08
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA,DZA,NaN,Not applicable,TOTAL,Total,...,NaN,24.93,E,Estimated value,34,44758398,2023 est.,Algeria,DZA,9.802000e+09
3,ANGOLA,The Republic of Angola,.ao,AO,AGO,AGO,NaN,Not applicable,TOTAL,Total,...,NaN,24.20,E,Estimated value,41,35981281,2023 est.,Angola,AGO,7.057000e+08
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG,ATG,NaN,Not applicable,TOTAL,Total,...,NaN,18.99,E,Estimated value,194,101489,2023 est.,Antigua and Barbuda,ATG,4.400000e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB,UZB,NaN,Not applicable,TOTAL,Total,...,NaN,36.29,E,Estimated value,48,31360836,2023 est.,Uzbekistan,UZB,5.890400e+10
160,VIET NAM,The Socialist Republic of Viet Nam,.vn,VN,VNM,VNM,NaN,Not applicable,TOTAL,Total,...,NaN,20.05,E,Estimated value,16,104799174,2023 est.,Vietnam,VNM,8.186200e+10
161,YEMEN,The Republic of Yemen,.ye,YE,YEM,YEM,NaN,Not applicable,TOTAL,Total,...,NaN,44.03,E,Estimated value,47,31565602,2023 est.,Yemen,YEM,3.565000e+09
162,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB,ZMB,NaN,Not applicable,TOTAL,Total,...,NaN,23.36,E,Estimated value,63,20216029,2023 est.,Zambia,ZMB,1.572000e+09
163,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE,ZWE,NaN,Not applicable,TOTAL,Total,...,NaN,19.16,E,Estimated value,73,15418674,2023 est.,Zimbabwe,ZWE,3.771380e+09

Note: By the fuzzy merge we loose less rows. With the simple merge between df2 and ISO codes we had 140 rows, but with the fuzzy merge we have 164 rows

In [283]:
final_df

,Country,Officialstatename,InternetccTLD,iso2,iso3,COU,SMALL_SUBNATIONAL_REGION,Small subnational region,LARGE_SUBNATIONAL_REGION,Large subnational region,...,Reference Period Code,Reference Period,Value,Flag Codes,Flags,Rank,Population,Date_of_Information,Code,"Annual freshwater withdrawals, total (billion cubic meters)"
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG,AFG,NaN,Not applicable,TOTAL,Total,...,NaN,NaN,68.27,E,Estimated value,37,39232003,2023 est.,AFG,2.028200e+10
1,ALBANIA,The Republic of Albania,.al,AL,ALB,ALB,NaN,Not applicable,TOTAL,Total,...,NaN,NaN,18.90,E,Estimated value,137,3101621,2023 est.,ALB,9.580000e+08
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA,DZA,NaN,Not applicable,TOTAL,Total,...,NaN,NaN,24.93,E,Estimated value,34,44758398,2023 est.,DZA,9.802000e+09
3,ANGOLA,The Republic of Angola,.ao,AO,AGO,AGO,NaN,Not applicable,TOTAL,Total,...,NaN,NaN,24.20,E,Estimated value,41,35981281,2023 est.,AGO,7.057000e+08
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG,ATG,NaN,Not applicable,TOTAL,Total,...,NaN,NaN,18.99,E,Estimated value,194,101489,2023 est.,ATG,4.400000e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB,UZB,NaN,Not applicable,TOTAL,Total,...,NaN,NaN,36.29,E,Estimated value,48,31360836,2023 est.,UZB,5.890400e+10
160,VIET NAM,The Socialist Republic of Viet Nam,.vn,VN,VNM,VNM,NaN,Not applicable,TOTAL,Total,...,NaN,NaN,20.05,E,Estimated value,16,104799174,2023 est.,VNM,8.186200e+10
161,YEMEN,The Republic of Yemen,.ye,YE,YEM,YEM,NaN,Not applicable,TOTAL,Total,...,NaN,NaN,44.03,E,Estimated value,47,31565602,2023 est.,YEM,3.565000e+09
162,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB,ZMB,NaN,Not applicable,TOTAL,Total,...,NaN,NaN,23.36,E,Estimated value,63,20216029,2023 est.,ZMB,1.572000e+09
163,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE,ZWE,NaN,Not applicable,TOTAL,Total,...,NaN,NaN,19.16,E,Estimated value,73,15418674,2023 est.,ZWE,3.771380e+09

### Cleaning & formatting
Now we will procede with the cleaning and formatting (if needed)

The variables we want to keep are: 
1. Value: this corresponds to the Mean population exposure to PM2.5. Its units are Micrograms per cubic metre. Note that initially we restricted the original "PM2.5" data frame to only the values from 2018. 
2. Population: It is the number of people by country
3. Annual freshwater withdrawals, total (billion cubic meters): Note that initially we restricted the original "Annual freshwater withdrawls" to the values from year 2018. 

Therefore: 
For column "Value", we will rename it to "PM2.5_exposure_2018"
For column "Annual freshwater withdrawals, total (billion cubic meters)", we will rename it to "Annual_H2O_withdrawl_2018"

In [285]:
# We get rid off of any white spaces between the words of the columns' titles
final_df.columns=final_df.columns.str.replace(" ","_")
final_df

,Country,Officialstatename,InternetccTLD,iso2,iso3,COU,SMALL_SUBNATIONAL_REGION,Small_subnational_region,LARGE_SUBNATIONAL_REGION,Large_subnational_region,...,Reference_Period_Code,Reference_Period,Value,Flag_Codes,Flags,Rank,Population,Date_of_Information,Code,"Annual_freshwater_withdrawals,_total_(billion_cubic_meters)"
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG,AFG,NaN,Not applicable,TOTAL,Total,...,NaN,NaN,68.27,E,Estimated value,37,39232003,2023 est.,AFG,2.028200e+10
1,ALBANIA,The Republic of Albania,.al,AL,ALB,ALB,NaN,Not applicable,TOTAL,Total,...,NaN,NaN,18.90,E,Estimated value,137,3101621,2023 est.,ALB,9.580000e+08
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA,DZA,NaN,Not applicable,TOTAL,Total,...,NaN,NaN,24.93,E,Estimated value,34,44758398,2023 est.,DZA,9.802000e+09
3,ANGOLA,The Republic of Angola,.ao,AO,AGO,AGO,NaN,Not applicable,TOTAL,Total,...,NaN,NaN,24.20,E,Estimated value,41,35981281,2023 est.,AGO,7.057000e+08
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG,ATG,NaN,Not applicable,TOTAL,Total,...,NaN,NaN,18.99,E,Estimated value,194,101489,2023 est.,ATG,4.400000e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB,UZB,NaN,Not applicable,TOTAL,Total,...,NaN,NaN,36.29,E,Estimated value,48,31360836,2023 est.,UZB,5.890400e+10
160,VIET NAM,The Socialist Republic of Viet Nam,.vn,VN,VNM,VNM,NaN,Not applicable,TOTAL,Total,...,NaN,NaN,20.05,E,Estimated value,16,104799174,2023 est.,VNM,8.186200e+10
161,YEMEN,The Republic of Yemen,.ye,YE,YEM,YEM,NaN,Not applicable,TOTAL,Total,...,NaN,NaN,44.03,E,Estimated value,47,31565602,2023 est.,YEM,3.565000e+09
162,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB,ZMB,NaN,Not applicable,TOTAL,Total,...,NaN,NaN,23.36,E,Estimated value,63,20216029,2023 est.,ZMB,1.572000e+09
163,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE,ZWE,NaN,Not applicable,TOTAL,Total,...,NaN,NaN,19.16,E,Estimated value,73,15418674,2023 est.,ZWE,3.771380e+09

In [286]:
# We get rid off of the variables that are not of our interest
delete_columns=["COU","SMALL_SUBNATIONAL_REGION","Small_subnational_region","LARGE_SUBNATIONAL_REGION","Large_subnational_region",
               "Reference_Period_Code","Reference_Period","Flag_Codes","Flags","Rank","Code"]
final_df.drop(columns=delete_columns,inplace=True)
final_df

,Country,Officialstatename,InternetccTLD,iso2,iso3,VAR,Variable,Unit_Code,Unit,PowerCode_Code,PowerCode,Value,Population,Date_of_Information,"Annual_freshwater_withdrawals,_total_(billion_cubic_meters)"
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,68.27,39232003,2023 est.,2.028200e+10
1,ALBANIA,The Republic of Albania,.al,AL,ALB,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,18.90,3101621,2023 est.,9.580000e+08
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,24.93,44758398,2023 est.,9.802000e+09
3,ANGOLA,The Republic of Angola,.ao,AO,AGO,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,24.20,35981281,2023 est.,7.057000e+08
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,18.99,101489,2023 est.,4.400000e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,36.29,31360836,2023 est.,5.890400e+10
160,VIET NAM,The Socialist Republic of Viet Nam,.vn,VN,VNM,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,20.05,104799174,2023 est.,8.186200e+10
161,YEMEN,The Republic of Yemen,.ye,YE,YEM,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,44.03,31565602,2023 est.,3.565000e+09
162,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,23.36,20216029,2023 est.,1.572000e+09
163,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,19.16,15418674,2023 est.,3.771380e+09

In [288]:
# We keep deleting the unnecesary columns
bye_columns=["VAR","Variable","Unit_Code","Unit","PowerCode_Code","PowerCode"]
final_df.drop(columns=bye_columns,inplace=True)
final_df

,Country,Officialstatename,InternetccTLD,iso2,iso3,Value,Population,Date_of_Information,"Annual_freshwater_withdrawals,_total_(billion_cubic_meters)"
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG,68.27,39232003,2023 est.,2.028200e+10
1,ALBANIA,The Republic of Albania,.al,AL,ALB,18.90,3101621,2023 est.,9.580000e+08
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA,24.93,44758398,2023 est.,9.802000e+09
3,ANGOLA,The Republic of Angola,.ao,AO,AGO,24.20,35981281,2023 est.,7.057000e+08
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG,18.99,101489,2023 est.,4.400000e+06
...,...,...,...,...,...,...,...,...,...
159,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB,36.29,31360836,2023 est.,5.890400e+10
160,VIET NAM,The Socialist Republic of Viet Nam,.vn,VN,VNM,20.05,104799174,2023 est.,8.186200e+10
161,YEMEN,The Republic of Yemen,.ye,YE,YEM,44.03,31565602,2023 est.,3.565000e+09
162,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB,23.36,20216029,2023 est.,1.572000e+09
163,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE,19.16,15418674,2023 est.,3.771380e+09

In [293]:
# We rename certain column titles
final_df.rename(columns={'Value':'PM2.5_exposure_2018', 'Date_of_Information':'Year_of_population_value',
                        'Annual_freshwater_withdrawals,_total_(billion_cubic_meters)':'Annual_H2O_withdrawl_2018'},inplace=True)
final_df

,Country,Officialstatename,InternetccTLD,iso2,iso3,PM2.5_exposure_2018,Population,Year_of_population_value,Annual_H2O_withdrawl_2018
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG,68.27,39232003,2023 est.,2.028200e+10
1,ALBANIA,The Republic of Albania,.al,AL,ALB,18.90,3101621,2023 est.,9.580000e+08
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA,24.93,44758398,2023 est.,9.802000e+09
3,ANGOLA,The Republic of Angola,.ao,AO,AGO,24.20,35981281,2023 est.,7.057000e+08
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG,18.99,101489,2023 est.,4.400000e+06
...,...,...,...,...,...,...,...,...,...
159,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB,36.29,31360836,2023 est.,5.890400e+10
160,VIET NAM,The Socialist Republic of Viet Nam,.vn,VN,VNM,20.05,104799174,2023 est.,8.186200e+10
161,YEMEN,The Republic of Yemen,.ye,YE,YEM,44.03,31565602,2023 est.,3.565000e+09
162,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB,23.36,20216029,2023 est.,1.572000e+09
163,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE,19.16,15418674,2023 est.,3.771380e+09

In [305]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    164 non-null    object
 1   Officialstatename          164 non-null    object
 2   InternetccTLD              163 non-null    object
 3   iso2                       163 non-null    object
 4   iso3                       164 non-null    object
 5   PM2.5_exposure_2018        164 non-null    float64
 6   Population                 164 non-null    int64
 7   Annual_H2O_withdrawl_2018  164 non-null    float64
dtypes: float64(2), int64(1), object(5)
memory usage: 10.4+ KB

In [304]:
# In column "Year_of_population_value", we need to get rid off est. and white spaces
# Note that python reads the values as objects instead of numbers
final_df['Year_of_population_value']=final_df.Year_of_population_value.str.extract(pat=r'(^\w+|.$)', expand=True)
final_df

AttributeError: 'DataFrame' object has no attribute 'Year_of_population_value'

In [ ]:
#Since all values correspond to year 2023, we can delete that column
final_df=final_df.drop('Year_of_population_value', axis=1)

In [306]:
# We rename the population column name
final_df.rename(columns={'Population':'Population_in_2023','PM2.5_exposure_2018':'PM2_5_exposure_2018'},inplace=True)
final_df

,Country,Officialstatename,InternetccTLD,iso2,iso3,PM2_5_exposure_2018,Population_in_2023,Annual_H2O_withdrawl_2018
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG,68.27,39232003,2.028200e+10
1,ALBANIA,The Republic of Albania,.al,AL,ALB,18.90,3101621,9.580000e+08
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA,24.93,44758398,9.802000e+09
3,ANGOLA,The Republic of Angola,.ao,AO,AGO,24.20,35981281,7.057000e+08
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG,18.99,101489,4.400000e+06
...,...,...,...,...,...,...,...,...
159,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB,36.29,31360836,5.890400e+10
160,VIET NAM,The Socialist Republic of Viet Nam,.vn,VN,VNM,20.05,104799174,8.186200e+10
161,YEMEN,The Republic of Yemen,.ye,YE,YEM,44.03,31565602,3.565000e+09
162,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB,23.36,20216029,1.572000e+09
163,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE,19.16,15418674,3.771380e+09

In [307]:
# Lastly we corroborate that the columns correspond to the variable type (string or object, float and int)
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    164 non-null    object
 1   Officialstatename          164 non-null    object
 2   InternetccTLD              163 non-null    object
 3   iso2                       163 non-null    object
 4   iso3                       164 non-null    object
 5   PM2_5_exposure_2018        164 non-null    float64
 6   Population_in_2023         164 non-null    int64
 7   Annual_H2O_withdrawl_2018  164 non-null    float64
dtypes: float64(2), int64(1), object(5)
memory usage: 10.4+ KB